/* -------01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

.story-section {
  width: 110rem;
  margin: 5rem auto;
}

.story-heading {
  color: #333;
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  margin: 0 auto;
}

.box {
  /* padding: 3rem; */
  box-shadow: 0 0 2rem rgba(4, 4, 107, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  /* width: 100rem; */
}

.box:hover {
  transform: translateY(-2rem);
}

.box-neeche {
  margin-top: 2rem;
}

.box-2 {
  margin-bottom: 5rem;
}

.box-neeche-sh {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.date-sh {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00000080;
}

.para-blog-sh {
  font-size: 1.5rem;
  color: #00000070;
  font-weight: 400;
  /* line-height: 1;
  letter-spacing: 0.1rem; */
}

.advice-image {
  width: 100%;
  height: auto;
}

.box-heading {
  font-size: 2rem;
  /* text-align: center; */
  /* padding-bottom: 2.4rem; */
  font-weight: 600;
  text-transform: uppercase;
}

.click-here-btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: #00000080;
  text-decoration: underline !important;
  /* transition: all 0.5s; */
}

@media screen and (max-width: 750px) {
  .story-section {
    margin-top: 10rem;
    margin-bottom: -5rem;
    width: 90vw;
  }
  .boxes {
    display: flex;
    flex-direction: column;
  }
}
