@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:wght@400;500;600;700;800&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Poppins";
}

html {
  font-size: 62.5%;
}

.hero-section {
  background-image: url("Desktop - 5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-content {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-head {
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
}

.hero-para {
  font-size: 2rem;
  text-align: center;
  color: #00000080;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.hero-input {
  font-size: 1.8rem;
  border: none;
  width: 50rem;
  padding: 1.4rem 2.8rem;
  padding-left: 4.2rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.icon-hero {
  position: absolute;
  width: 2.3rem !important;
  height: 2.3rem !important;
  left: 6.3rem !important;
  color: #777 !important;
}

.btn-hero {
  font-size: 1.6rem;
  position: absolute;
  /* left: 0; */
  right: 5.8rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background-color: #5c59c4;
  border: none;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-hero:hover {
  background-color: #4a479d;
}
