.number-section {
  background-color: #efeef9;
  padding: 4rem 6rem;
  border-radius: 2rem;
  width: 120rem;
  margin: 10rem auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-books-pyq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.6rem;
}

.notes-books-pyq div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Number-heading {
  font-size: 3rem;
  color: #333;
}

.number {
  font-size: 4.4rem;
  color: #5236ff;
  font-weight: 600;
}

.label {
  font-size: 2rem;
  color: #333;
}
@media screen and (max-width: 750px) {
  .number-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .Number-heading {
    width: 100vw !important;
    padding: 0 5vw;
    text-align: center;
    /* margin: 0 auto; */
  }
  .notes-books-pyq {
    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 3rem;
    padding: 0 5vw;
  }
}
